[alias]
	log = log --graph --pretty=format:\\'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\\' --abbrev-commit --date=relative
	co = checkout
	count   = !git shortlog -sn
[apply]
	whitespace = nowarn
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[help]
	autocorrect = 1
[hub]
	protocol = ssh
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
[merge]
	tool = vi
[mergetool]
	keepBackup = false
[pull]
	rebase = false
[push]
	default = simple
	; default = current
