[include]
  path = ~/.gitconfig.local
[hub]
	protocol = ssh
[core]
	editor = code --wait
  excludesfile = ~/.gitignore
	; filemode = true
	; bare = false
	; logallrefupdates = true
	; ignorecase = true
	; precomposeunicode = true
[alias]
	log = log --graph --pretty=format:\\'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\\' --abbrev-commit --date=relative
	co = checkout
  count   = !git shortlog -sn
[push]
	default = simple
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[apply]
  whitespace = nowarn
[help]
  autocorrect = 1
[merge]
  tool = vi
[mergetool]
  keepBackup = false
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[credential]
  helper = osxkeychain
[pull]
	rebase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Kerry Snyder
	email = kerry@atmanaut.me
[init]
	defaultBranch = main
